[submodule "repo/repository.rafaneto"]
	path = repo/repository.rafaneto
	url = https://github.com/rimeno/repository.rafaneto
[submodule "repo/script.module.snapcast"]
	path = repo/script.module.snapcast
	url = https://github.com/rimeno/script.module.snapcast
[submodule "service.snapcast.client"]
	path = service.snapcast.client
	url = https://github.com/rimeno/service.snapcast.client
[submodule "script.snapcast.client"]
	path = script.snapcast.client
	url = https://github.com/rimeno/script.snapcast.client
